{% extends "shizuka_webserver/base.html" %}
{% block content %}
    {%  if recent_client_list %}
    <h1>Clients</h1>
    <!--<ul class="list-group">-->
    <table class="table">
        {% for client in recent_client_list %}
        <tr>
            <td><a href="{% url 'client:detail' client.id %}">{{ client.identifier }}</a></td>
            {% if client.is_online %} <td class="success"> Online </td>
            {% else %}                <td class="danger"> Offline </td>
            {% endif %}
        </tr>
        {%  endfor %}
    </table>
    <!--</ul>-->
    {% else %}
        <div class="jumbotron">
        <h1>Welcome To Shizuka!</h1>
        <p>It appears as though there are no clients running at the moment. Setup some clients and check back later.</p>
        <p><a href={% url 'client:index' %}>
            <button class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-cloud-download"></span> Windows Client</button>
           </a>
        </p>
        </div>
    {% endif %}

{% endblock %}


<!-- {% if client.is_online %}
                <li class="list-group-item list-group-item-success">
            {% else %}
                <li class="list-group-item list-group-item-danger">
            {% endif %}
            -->